body {
    background-color: black;
    img.displayed {
    display: block;
    margin-left: auto;
    vertical-align: center;
    margin-right: auto; }

}
ul{
	color: #FFFFFF;
	font-size: 16pt;
	font-family: 'Gill Sans MT', sans-serif;
}
menu{
	margin-left: 0cm;
	font-size: 20pt;
	color: #FFFFFF
}
b{
    color:#000000;
}
a{
	text-align: center;
	font-size: 28pt;
}
/* unvisited link */
a:link {
    color: #FFFFFF;
}

/* visited link */
a:visited {
    color: #FFFFFF;
}

/* mouse over link */
a:hover {
    color: #800000;
}

/* selected link */
a:active {
    color: #FFFFFF;
}
.center {
    margin-left: auto;
    margin-right: auto;
    width: 42%;

}

h4 {
    color: #FFFFFF;
}
select{
    
}

.btn {
    margin-left: 50px;
    margin-right: 50px;
}


