body {
    background-color: black;
    display: block;
    margin-left: auto;   
    margin-right: auto; 
    margin-left: auto;   
    margin-right: auto;
    width:49%;

}
menu{
	margin-left: 0cm;
	font-size: 20pt;
	color: #FFFFFF
}
a{
	font-size: 20pt;
    vertical-align: center;
    margin-left: 1cm;
}
/* unvisited link */
a:link {
    color: #FFFFFF;
}

/* visited link */
a:visited {
    color: #FFFFFF;
}

/* mouse over link */
a:hover {
    color: #800000;
}

/* selected link */
a:active {
    color: #FFFFFF;
}
.center {
    margin-left: auto;
    margin-right: auto;
    width: 42%;

}
