<!DOCTYPE html>
<head>
  <meta charset="UTF-8" />
  <title>Suite Setup</title>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" type="text/css" href="static/style.css">

<!-- Latest compiled and minified JavaScript -->
</head>

<body>
	<div class="center">
		<img src="static/logo.png" alt="HTML5 Icon" style="width:543px;height:280px">
		<menu>
        
      
        
  	    <!-- <button href="/explore"type="button" class="btn btn-lg btn-default">Explore</button>
        <button href="/match" type="button" class="btn btn-lg btn-default">Get matched</button> -->
          </div>
          <ul style="list-style-type:square">
              {% for suite in topass %}
              <li> {{ suite }}</li>
              <br>
              {% endfor %}
          </ul>
    </menu>


  

  
</body>
</html> 