<!DOCTYPE html>
<head>
  <meta charset="UTF-8" />
  <title>Matched</title>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="static/style.css">

<script src="static/jquery.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="container">
    <div class="center">
    <img src="static/logo.png" alt="HTML5 Icon" style="width:543px;height:280px">
    </div>

<div class="row text-center">
  <div class="row text-center">
    <h4> Input Data for Primary 1: </h4>
  </div>


  <select id='grade1'>
    <option value="Senior">Senior</option>
    <option value="Junior">Junior</option>
    <option value="Sophomore">Sophomore</option>
  </select>


  <select id='firstdraw1'>
    <option value="Low">Low</option>
    <option value="Mid">Middle</option>
    <option value="Hig">High</option>
  </select>

  <select id='seconddraw1'>
    <option value="Low">Low</option>
    <option value="Mid">Middle</option>
    <option value="Hig">High</option>
  </select>
</div>
<div class="row text-center">
  <div class="row text-center">
    <h4> Input Data for Primary 2:</h4>
  </div>


  <select id='grade2'>
    <option value="Senior">Senior</option>
    <option value="Junior">Junior</option>
    <option value="Sophomore">Sophomore</option>
  </select>


  <select id='firstdraw2'>
    <option value="Low">Low</option>
    <option value="Mid">Middle</option>
    <option value="Hig">High</option>
  </select>

  <select id='seconddraw2'>
    <option value="Low">Low</option>
    <option value="Mid">Middle</option>
    <option value="Hig">High</option>
  </select>
</div>
<div class="row text-center">
  <div class="row text-center">
    <h4> Input Data for Primary 3: </h4>
  </div>


  <select id='grade3'>
    <option value="Senior">Senior</option>
    <option value="Junior">Junior</option>
    <option value="Sophomore">Sophomore</option>
  </select>


  <select id='firstdraw3'>
    <option value="Low">Low</option>
    <option value="Mid">Middle</option>
    <option value="Hig">High</option>
  </select>

  <select id='seconddraw3'>
    <option value="Low">Low</option>
    <option value="Mid">Middle</option>
    <option value="Hig">High</option>
  </select>
</div>
<div class="row text-center">
  <div class="row text-center">
    <h4> Input Data for Primary 4: </h4>
  </div>


  <select id='grade4'>
    <option value="Senior">Senior</option>
    <option value="Junior">Junior</option>
    <option value="Sophomore">Sophomore</option>
  </select>

<!-- <select id='cars'>
  <option value="volv>BLAHo/">Volvo</option>
  <option value="saab>BLAH"/>Saab</option>
  <option value="merc>BLAHe/des">Mercedes</option>
  <option value="audi>BLAH"/>Audi</option>
</select>
 -->

  <select id='firstdraw4'>
    <option value="Low">Low</option>
    <option value="Mid">Middle</option>
    <option value="Hig">High</option>
  </select>

  <select id='seconddraw4'>
    <option value="Low">Low</option>
    <option value="Mid">Middle</option>
    <option value="Hig">High</option>
  </select>
</div>

  </div>
  <br>
  <div class="row text-center">
    <button onclick="postToServer()" type="button">Go!</button>
  </div>  
</body>
<script>
function postToServer(){
$.post('/receiver',{'grade1':$('#grade1').val(),'grade2':$('#grade2').val(),'grade3':$('#grade3').val(),'grade4':$('#grade4').val(),'pd11':$('#firstdraw1').val(),'pd12':$('#seconddraw1').val(),'pd21':$('#firstdraw2').val(),'pd22':$('#seconddraw2').val(),'pd31':$('#firstdraw3').val(),'pd32':$('#seconddraw3').val(),'pd41':$('#firstdraw4').val(),'pd42':$('#seconddraw4').val()});
}
</script>
</html> 