<!DOCTYPE html>
<head>
  <meta charset="UTF-8" />
  <title>Suite Setup</title>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" type="text/css" href="static/style.css">

<!-- Latest compiled and minified JavaScript -->
</head>

<body>
	<div class="center">
		<img src="static/logo.png" alt="HTML5 Icon" style="width:543px;height:280px">
		<menu>
        
      <h4> &nbsp;&nbsp;<a href='/explore' >Explore!</a>  &nbsp;&nbsp;&nbsp;  or &nbsp;&nbsp;&nbsp; <a href='/match' >Get Matched!</a> </h4>
        
  	    <!-- <button href="/explore"type="button" class="btn btn-lg btn-default">Explore</button>
        <button href="/match" type="button" class="btn btn-lg btn-default">Get matched</button> -->
    </menu>
	</div>
  

  
</body>
</html> 