<!DOCTYPE html>
<head>
  <meta charset="UTF-8" />
  <title>Suite Setup</title>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" type="text/css" href="static/stylecampuses.css">

<!-- Latest compiled and minified JavaScript -->
</head>

<body>
	<div class="center">
		<img src="static/logo.png" alt="HTML5 Icon" style="width:543px;height:280px">
		<menu>
        <h3>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;So you're looking in...</h3>
  	    <!-- <button href="/explore"type="button" class="btn btn-lg btn-default">Explore</button>
        <button href="/match" type="button" class="btn btn-lg btn-default">Get matched</button> -->
    </menu>
	</div>
  <center><a href='/Sontag' >Sontag?</a> <a href='/Pomona' >Pomona?</a><a href='/Lawry' >Lawry?</a> <a href='/Clark5' >Clark V?</a> 
  <a href='/ClarkI' >Clark I?</a> <a href='/Walker' >Walker?</a><a href='/NortonClark' >Norton Clark?</a> </center>

  
</body>
</html> 